    body {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(60deg, black, #414141);
      background-size: 600%, 100%;
      animation: gradient 35s linear infinite;
      animation-direction: alternate;
    }

    @keyframes gradient {
      0% {
        background-position: 0%
      }

      100% {
        background-position: 100%
      }
    }

    canvas {
      position: absolute;
    }

    .box {
      position: fixed;
      top: 0;
      right: 15px;
      color: #36FF4E;
      font-family: 'montserrat', sans-serif;
      font-size: large;
    }

    body {
      background-image: linear-gradient(to right, #f0f8ff, #c9deff);
      background-attachment: fixed;
    }

    .frame {
      width: 80%;
      position: absolute;
      height: 80%;
      /* padding: 20px; */
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      border-radius: 20px;
      -webkit-box-shadow: 0px 0px 280px -40px rgba(0, 0, 0, 0.81);
      -moz-box-shadow: 0px 0px 280px -40px rgba(0, 0, 0, 0.81);
      box-shadow: 0px 0px 280px -40px rgba(0, 0, 0, 0.81);
      background-image: linear-gradient(to right, #e2ebf3, #c1d8fc);
      z-index: 998;
    }

    .img {
      margin: 20px;
      border-radius: 10px;
      display: block;
      box-shadow: 0px 0px 280px -40px rgba(0, 0, 0, 0.81);
      height: 500px;
      width: auto;
      /* margin-bottom: 30px;
      margin-top: 20px;
      padding: 5px; */
    }

    .child {
      float: left;
    }

    .second {
      /* margin: 30px; */
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      /* margin-left: 60px; */
    }

    .camera-area {
      border-radius: 20px;
      width: 90%;
      height: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
    }